.doctorList {
    display: inline-block;
    margin: 20px;
    padding: 20px;
}

.doctorList th {
    background-color: thistle;
    padding: 20px 30px;
}

.doctorList td {
    border: 1px solid black;
    padding: 20px 40px;
}