.HomePage a{
    text-decoration: none;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    color: black;
}

.HomePage a:hover {
    color: white;
    background-color: black;
}

.ContactInfo {
    margin: 50px;
}